# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [87]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [88]:
weatherpy_df = pd.read_csv('../output_data/cities.csv')
weatherpy_df.head(20)

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,port elizabeth,-33.9180,25.5701,66.20,94,90,6.91,ZA,1612731246
1,matara,5.9485,80.5353,74.19,90,0,4.27,LK,1612731280
2,rikitea,-23.1203,-134.9692,77.40,73,97,13.04,PF,1612731506
3,hobart,-42.8794,147.3294,55.40,58,40,13.80,AU,1612730869
4,atar,20.5169,-13.0499,61.97,32,0,9.51,MR,1612731506
5,xinzhou,38.4092,112.7333,26.65,82,0,1.01,CN,1612731506
6,mahendranagar,28.9167,80.3333,55.04,53,0,4.21,NP,1612731506
7,riyadh,24.6877,46.7219,59.00,58,0,11.50,SA,1612730837
8,kefamenanu,-9.4467,124.4781,70.16,88,100,2.01,ID,1612731507
9,kavieng,-2.5744,150.7967,83.37,72,75,7.78,PG,1612731507
10,talladega,33.4359,-86.1058,48.20,61,75,5.14,US,1612731507
11,qaanaaq,77.4840,-69.3632,12.56,85,59,6.87,GL,1612730923
12,fort-shevchenko,44.5086,50.2630,31.50,87,96,15.61,KZ,1612731390
13,hermanus,-34.4187,19.2345,64.99,79,5,4.21,ZA,1612731507
14,kodiak,57.7900,-152.4072,26.60,74,1,4.61,US,1612731507
15,ushuaia,-54.8000,-68.3000,60.80,55,40,8.05,AR,1612731507
16,paramonga,-10.6667,-77.8333,75.92,65,95,9.44,PE,1612731507
17,hervey bay,-25.2986,152.8535,80.01,88,18,3.00,AU,1612731466
18,walvis bay,-22.9575,14.5053,64.99,82,0,8.05,NaN,1612731485
19,arraial do cabo,-22.9661,-42.0278,73.40,88,75,4.61,BR,1612731010

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [89]:
locations = weatherpy_df[['Latitude', 'Longitude']]

fig = gmaps.figure()



heat_layer = gmaps.heatmap_layer(locations, weights = weatherpy_df['Humidity (%)'],
                                 dissipating = False, max_intensity=10, point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [90]:
#ideal_temp = 
ideal_weather_df = weatherpy_df[(weatherpy_df['Max Temp (F)'] <= 60) &
                                (weatherpy_df['Max Temp (F)'] <= 70) & 
                                (weatherpy_df['Wind Speed (mph)'] <= 10) & 
                                (weatherpy_df['Cloudiness (%)'] <= 25)]
ideal_weather_df.head()

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
5,xinzhou,38.4092,112.7333,26.65,82,0,1.01,CN,1612731506
6,mahendranagar,28.9167,80.3333,55.04,53,0,4.21,NP,1612731506
14,kodiak,57.7900,-152.4072,26.60,74,1,4.61,US,1612731507
24,castrovillari,39.8203,16.2123,55.00,83,14,1.01,IT,1612731508
55,yellowknife,62.4560,-114.3525,-32.01,61,1,4.61,CA,1612730965

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [99]:
ideal_weather_df['Hotel Name'] = ''

for index, row in ideal_weather_df.iterrows():

    lat = row['Latitude']
    lng = row['Longitude']
    #lat_lngg = '38.4092, 112.7333'
    parameters = {
                 'location':f"{lat}, {lng}",
                 'radius': 5000,
                 'type':'hotel',
                 'key': g_key}
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    response = requests.get(base_url, params=parameters)
    hotel_data = response.json()
    #print(hotel_data['results'][0]['name'])
    #print(response.url)
    

    try:
        ideal_weather_df.loc[index, 'Hotel Name'] = hotel_data['results'][0]['name']
        
    except:
        print('No hotel found within 5000 meters radius')
    
ideal_weather_df
#print(json.dumps(hotel_data, indent = 4, sort_keys = True))

C:\Users\gucas\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\gucas\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hotel Name
5,xinzhou,38.4092,112.7333,26.65,82,0,1.01,CN,1612731506,Xinzhou
6,mahendranagar,28.9167,80.3333,55.04,53,0,4.21,NP,1612731506,Jhalaripipaladi
14,kodiak,57.7900,-152.4072,26.60,74,1,4.61,US,1612731507,Kodiak
24,castrovillari,39.8203,16.2123,55.00,83,14,1.01,IT,1612731508,Castrovillari
55,yellowknife,62.4560,-114.3525,-32.01,61,1,4.61,CA,1612730965,Yellowknife
61,fairbanks,64.8378,-147.7164,-9.00,75,20,4.61,US,1612731282,Fairbanks
108,kutum,14.2000,24.6667,54.45,36,0,7.49,SD,1612731142,Kutum
130,genhe,50.7833,121.5167,-21.10,85,0,2.46,CN,1612731517,Hulunbuir
138,college,64.8569,-147.8028,-9.00,75,20,4.61,US,1612731150,Fairbanks
149,batagay-alyta,67.8006,130.4114,-33.05,78,0,2.44,RU,1612731519,Batagay-Alyta
150,tahta,26.7693,31.5021,59.00,55,0,9.22,EG,1612731519,Tahta
154,chlorakas,34.8042,32.4083,53.60,82,20,6.91,CY,1612731519,Paphos
184,sakakah,29.9697,40.2064,51.80,71,0,5.75,SA,1612731384,Sakaka
185,abha,18.2164,42.5053,57.20,41,0,3.44,SA,1612731522,Abha
195,pevek,69.7008,170.3133,-7.65,86,0,0.96,RU,1612731523,Pevek
199,naze,28.3667,129.4833,57.60,66,0,9.71,JP,1612731523,Amami
208,sishui,35.6489,117.2758,28.99,79,23,3.44,CN,1612731524,Jining
220,broken hill,-31.9500,141.4333,59.00,58,0,5.75,AU,1612731524,Broken Hill
229,tura,25.5198,90.2201,57.27,46,5,2.91,IN,1612731399,Tura
239,kenai,60.5544,-151.2583,10.00,85,1,4.61,US,1612731526,Kalifornsky
248,balykshi,47.0667,51.8667,10.40,72,0,8.95,KZ,1612731527,Atyrau
250,west lafayette,40.4259,-86.9081,8.01,56,1,9.22,US,1612731460,Lafayette
254,taicheng,38.7310,113.2280,23.72,76,0,2.73,CN,1612731527,Xinzhou
269,leningradskiy,69.3833,178.4167,-14.53,82,0,6.78,RU,1612730944,Leningradsky
271,abu kamal,34.4506,40.9171,57.47,60,0,6.60,SY,1612731455,Al Bukamal
281,upernavik,72.7868,-56.1549,18.34,79,2,2.84,GL,1612731052,Upernavik
286,linxia,35.6003,103.2064,29.55,74,0,1.01,CN,1612731530,Linxia
296,russell,32.3502,-85.1999,55.40,47,1,5.75,US,1612731531,Russell County High School
306,ilulissat,69.2167,-51.1000,24.80,39,0,6.91,GL,1612731044,Ilulissat
307,babstovo,48.1167,132.4833,-13.99,85,7,9.15,RU,1612731531,Babstovo
344,lashio,22.9333,97.7500,50.97,98,1,2.08,MM,1612731534,Lashio
355,talnakh,69.4865,88.3972,-20.13,74,19,2.75,RU,1612731402,Norilsk
363,faya,18.3851,42.4509,57.20,41,0,3.44,SA,1612731299,الغال
366,talwara,31.9486,75.8667,54.30,56,0,3.02,IN,1612731536,Talwara Township
369,vershino-darasunskiy,52.3500,115.5167,-12.82,90,19,2.66,RU,1612731537,Vershino-Darasunskii
379,nizhniy kuranakh,58.8353,125.4869,-22.50,81,0,1.21,RU,1612731538,Nizhny Kuranakh
380,bilibino,68.0546,166.4372,0.25,75,1,6.31,RU,1612731538,Bilibino
396,mildura,-34.2000,142.1500,55.40,71,0,6.91,AU,1612731539,Mildura
418,saiki,32.9500,131.9000,47.14,69,0,8.01,JP,1612731541,Saiki
423,jumla,29.2747,82.1838,35.24,57,0,6.11,NP,1612731189,Chandannath
429,fallon,39.4735,-118.7774,57.99,24,20,4.61,US,1612731542,Fallon
431,lavrentiya,65.5833,-171.0000,-9.89,85,0,9.37,RU,1612730977,Lavrentiya
454,nome,64.5011,-165.4064,-5.01,84,1,3.91,US,1612731375,Nome
475,dibrugarh,27.4833,94.9000,58.60,58,0,4.36,IN,1612731546,Dibrugarh
479,radviliskis,55.8167,23.5333,-7.60,84,0,2.30,LT,1612731547,Radviliškis
504,qasigiannguit,68.8193,-51.1922,24.80,39,0,6.91,GL,1612731549,Qasigiannguit
516,americus,32.0724,-84.2327,57.20,47,1,6.91,US,1612731550,Americus
522,homer,59.6425,-151.5483,24.01,80,1,5.75,US,1612731550,Homer
534,khanpur,28.6453,70.6567,59.31,30,0,5.48,PK,1612731551,Khanpur
538,xuanhua,40.6103,115.0447,20.39,77,0,4.79,CN,1612731552,Zhangjiakou
547,lakhimpur,27.9500,80.7667,53.44,69,0,3.38,IN,1612731552,Lakhimpur
560,pudozh,61.8099,36.5345,-11.40,90,23,3.87,RU,1612731553,Pudozh
583,oume,35.7839,139.2431,37.00,75,1,1.30,JP,1612731368,Ome

In [100]:
# hotel_data = response.json()
# #hotel_data
# print(json.dumps(hotel_data, indent = 4, sort_keys = True))

In [45]:
#hotel_data['results'][0]['name']

IndexError: list index out of range

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure